@{
    ViewData["Title"] = "Home Page";
}

<div id="mainForm">
    <h1 class="display-4">Please Connect</h1>
    <form>
        <div class="form-group col-xs-4">
            <label for="fName">Username</label><br>
            <input type="text" class="form-control-lg" id="fName" name="fName"><br>
        </div>
        <div class="form-group col-xs-4">
            <label for="fPassword">Password</label><br>
            <input type="password" class="form-control-lg" id="fPassword" name="fPassword">
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>